h1 {
    margin: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 6px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 500px
}

h2 {
    margin-left: auto;
    margin-right: auto;
    align-items: center;

}