h1 {
    font-family: Arial, sans-serif;
    font-size: 2em;
    font-style: normal;
    font-variant: small-caps;
    color: rgb(44, 56, 56);

}

h2 {
    font-family: Arial, sans-serif;
    font-size: 2em;
    font-style: normal;
    font-variant: small-caps;
    color: rgb(44, 56, 56);

}